@font-face {
    font-family: 'poppins';
    src: url(./fonts/poppins/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif,popins;
    background-color: #fff ;
    min-width: 300px;
}
.main-container{
    border: 1px solid #035bff;
}
.title{
    background: #035bff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}
.title input{
    width: 40%;
    height: 50px;
    padding-top:10px;
    border: none;
    outline: none;
    background: #035bff;
    text-align: center;
    font-size: 40px;
    color: #fff;

}

.title input::placeholder{
    color: #fff;
    font-size: 40px;
}
.option{
    background: #a7a7a7;
    width: 100%;
    height: 80px;
    padding: 10px;
 
}
.row{
    background: red;
}


button {
    width: 30px !important;
    height: 30px !important;
    border-radius: 5px !important;
    text-align: center;
   border: none;
   margin-top: 10px;
   margin-bottom: 10px;
}

button:hover{
    opacity: 0.9;
}
select{
    outline: none;
}



.hr{
  
    border: 1px solid #035bff;
}

.text-transform{
    width: 45px;
    height: 30px;
}
.option{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   flex-wrap: wrap;
   /* background: #000; */
   height: 100%;
   padding-bottom: 10px;
  
  
}

.download{
    margin-top: 10px;
    text-align: center;
}
.download button{
    width: 180px !important;
    height: 40px !important;
    text-align: center !important;
    padding-bottom: 10px !important;
    
}


/* text content */
.content{
    width: 100%;
    background: #000;
    height: 80vh;
}
.textcontent
{
    height: 100%;
    width: 100%;
    color:#141414;
    background-color: #fff;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 18px;
    border:none;
    outline: none;
}

.textcontent:focus,.textcontent:hover
{
    border:none !important;
    background-color: #f7f7f7;
}


/* social */
.social{
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.social p {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 1%;
}

.social a  {
text-decoration: none;
margin-left:1% ;
/* margin-right: 2%; */

}
.social a  i {
    font-size: 30px;
    color: #035bff;
    transition: .1s ease-in;

}
.social a i:hover{
    opacity: 0.9;
    transform: scale(1.1);
}

.rights{
    text-align: center;
  
}
.rights p {
    text-align: center;
    font-weight: 600;

}
.rights i {
    color: #035bff;
}
/* left work
1)hovers on btns
2)select options
3)copyright tag-line
4)style hrs class = hr

 */

 